export(CollateTopicDtm)
export(CosineInvLength)
export(CosineMat)
export(CreateAllVectorSpaces)
export(CtabAmendHierarchy)
export(Encoder)
export(EstimateSourceImpact)
export(GetAccuracyMeasures)
export(GetLikelyComposite)
export(GetTypeErrors)
export(HoadSimilarity)
export(LearnThreshold)
export(LevenshteinDist)
export(MapBills)
export(MapFun)
export(ModelAmendHierarchy)
export(ModelDocSet)
export(ModelTopics)
export(PlotAmendsSuccess)
export(PlotCommitteeTopics)
export(RunEncoder)
export(TabulateOrigin)
export(VertexColorsPAS)
export(weightBin)
export(weightTf)
export(weightTfIdf)
export(WriteCompositeFinal)
export(WriteSideBySide)
import(catspec)
import(foreach)
import(gdata)
import(Hmisc)
import(igraph)
import(lsa)
import(Matrix)
import(plyr)
import(RecordLinkage)
import(reshape)
import(RWeka)
import(stringr)
import(tm)
import(topicmodels)
